<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GI Sopra 2021; TrettiProject</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<img style="float:right;" th:src="@{TrettiLogo.png}" width = "235" height="235" />
<h1 style=color:green>Tretty Dashboard</h1>

<body>

    <img style="float:right;" th:src="@{Tretti.gif}" width = "540" height="540" />
    <p th:text="'Die Durchschnittdistanz beträgt ' + ${Distanzdurchschnitt} + '.'" />
    <p th:text="'Der durchschnittliche Zeitaufwand ist ' + ${Zeitdurchschnitt} + '.'" />
    <p th:text="'Die Durchschnittsgeschwindigkeit beträgt ' + ${Geschwindigkeitsdurchschnitt} + '.'" />
    <br>
    <p th:text="'Die durchschnittlichen Kosten bei einer Buchung von Tretty Rollern sind ' + ${Kosten_Tretty} + '.'" />
    <p th:text="'Die durchschnittlichen Kosten bei einer Buchung von Lime Rollern sind ' + ${Kosten_Tretty} + '.'" />
    <p th:text="'Die durchschnittlichen Kosten bei einer Buchung von Tier Rollern sind ' + ${Kosten_Tier} + '.'" />
    <p th:text="'Die durchschnittlichen Kosten bei einer Buchung von Tier Rollern sind ' + ${Kosten_Tier} + '.'" />
    <br>
    <p
        th:text="'Der CO2-Ausstoß eines Autos auf der Strecke beträgt ' + ${CO2_Car} + ' g, der des E-Scooters'+ ${CO2_Scooter} + ' g und der für ein Tretty-Fahrrad'+${CO2_Bicycle}+'g.'" />
    <p
        th:text="'Auf der Fahrt mit einem Tretty-Fahrrad wird ' + ${Ersparnis_Car} + ' Gramm CO2 im Vergleich zu einem Auto gespart.'" />
    <p
        th:text="'Auf der Fahrt mit einem Tretty-Fahrrad wird ' + ${Ersparnis_Scooter} + ' Gramm CO2 im Vergleich zu einem E-Scooter gespart.'" />
    <br>
    <p
        th:text="'Die minimale Fahrtdistanz eines Tretty-Fahrrads beträgt ' + ${Distanz_min} + ' km und die maximale Distanz '+ ${Distanz_max}+' km.'" />
    <p
        th:text="'Die kürzeste Zeit bei der Fahrt mit einem Tretty-Fahrrad beträgt ' + ${Zeit_min} + ' Minuten und die längste Dauer beträgt '+ ${Zeit_max}+' Minuten.'" />
    <p
        th:text="'Die maximale Geschwindigkeit eines Tretty-Fahrrads waren ' + ${Geschwindigkeit_max} + ' km/h und die langsamste Geschwindigkeit beträgt '+ ${Geschwindigkeit_min}+' km/h.'" />
    <br>
    <br>
  
   
    <br>
    
    <br>
    <img th:src="@{TrettiMaimai.png}" />
    <br>
    <img th:src="@{MuensterSkyline.png}" />
    <br>



</body>

</html>