<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GI Sopra 2021; TrettiProject</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<img style="float:right;" th:src="@{TrettiLogo.png}" width="177" height="177" />
<h1 style=color:green>Tretty Dashboard</h1>

<body>

    <form id="person">
        <label for="start">Start date:</label>

        <input type="date" id="start" name="trip-start" th:value="${start_time}" min="2018-01-01" max="2022-12-31">

        <label for="end">end date:</label>

        <input type="date" id="end" name="trip-end" th:value="${end_time}" min="2018-01-01" max="2022-12-31">
        <button type="submit">Eingaben absenden</button>
    </form>

    <div>
        <h2 th:if="${exist_data}">Keine Daten für den ausgewählten Zeitraum vorhanden!</h2>

    </div>


    <div>


        <span th:unless="${exist_data}" >

            <h3>Statistiken</h3>
            <img style="float:right;" th:src="@{Tretti.gif}" width="270" height="270" />
            <p th:text="'Die Durchschnittsdistanz beträgt ' + ${DistanzDurchschnitt} + ' km.'" />
            <p th:text="'Der durchschnittliche Zeitaufwand ist ' + ${ZeitDurchschnitt} + ' h.'" />
            <p th:text="'Die Durchschnittsgeschwindigkeit beträgt ' + ${GeschwindigkeitDurchschnitt} + ' km/h.'" />
            <p
            th:text="'Die kürzeste gefahrene Strecke mit einem Tretty-Fahrrads war ' + ${Distanz_min} + ' km lang und die längste Strecke '+ ${Distanz_max}+' km.'" />
        <p
            th:text="'Die kürzeste Fahrt mit einem Tretty-Fahrrad dauerte ' + ${Zeit_min} + ' Stunden und die längste Fahrtdauer dauerte '+ ${Zeit_max}+' Stunden.'" />
        <p
            th:text="'Die höchste Geschwindigkeit, die ein Nutzer mit einem Tretty-Fahrrad gefahren war, beträgt ' + ${Geschwindigkeit_max} + ' km/h und die langsamste Geschwindigkeit beträgt '+ ${Geschwindigkeit_min}+' km/h.'" />
     
            
            <br>

<h3>Kosten</h3>
            <p
                th:text="'Die durchschnittlichen Kosten bei einer Buchung von Tretty Rollern sind ' + ${Kosten_Tretty} + ' €.'" />
            <p
                th:text="'Die durchschnittlichen Kosten bei einer Buchung von Lime Rollern sind ' + ${Kosten_Lime} + ' €.'" />
            <p
                th:text="'Die durchschnittlichen Kosten bei einer Buchung von Tier Rollern sind ' + ${Kosten_Tier} + ' €.'" />
            <br>
            <img style="float:right;" th:src="@{TrettiMaimai.png}" width="120" height="133" 3 />
          
          <h3>CO2 Emissionen</h3>
            <p
                th:text="'Der CO2-Ausstoß eines Autos auf einer durchschnittlich langen Strecke beträgt ' + ${CO2_Car} + ' g, der des E-Scooters '+ ${CO2_Scooter} + ' g und der für ein Tretty-Fahrrad '+${CO2_Bicycle}+' g.'" />
            <p
                th:text="'Auf der Fahrt mit einem Tretty-Fahrrad wird ' + ${CO2_saving_Car_Tretty} + ' Gramm CO2 im Vergleich zu einem Auto gespart.'" />
            <p
                th:text="'Auf der Fahrt mit einem Tretty-Fahrrad wird ' + ${CO2_saving_Scooter_Tretty} + ' Gramm CO2 im Vergleich zu einem E-Scooter gespart.'" />
            <br>
         

        </span>



    </div>
   
    <img th:src="@{MuensterSkyline.png}" />
    


   



</body>

</html>