<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GI Sopra 2021; TrettiProject</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<img style="float:right;" th:src="@{TrettiLogo.png}" width = "177" height="177" />
<h1 style=color:green>Tretty Dashboard</h1>

<body>

    <img style="float:right;" th:src="@{Tretti.gif}" width = "270" height="270" />
    <p th:text="'Die Durchschnittdistanz beträgt ' + ${DistanzDurchschnitt} + ' km.'" />
    <p th:text="'Der durchschnittliche Zeitaufwand ist ' + ${ZeitDurchschnitt} + ' h.'" />
    <p th:text="'Die Durchschnittsgeschwindigkeit beträgt ' + ${GeschwindigkeitDurchschnitt} + 'km/h.'" />
    <br>
    <p th:text="'Die durchschnittlichen Kosten bei einer Buchung von Tretty Rollern sind ' + ${Kosten_Tretty} + '€.'" />
    <p th:text="'Die durchschnittlichen Kosten bei einer Buchung von Lime Rollern sind ' + ${Kosten_Lime} + '€.'" />
    <p th:text="'Die durchschnittlichen Kosten bei einer Buchung von Tier Rollern sind ' + ${Kosten_Tier} + '€.'" />
    <br>
    <p
        th:text="'Der CO2-Ausstoß eines Autos auf der Strecke beträgt ' + ${CO2_Car} + ' g, der des E-Scooters'+ ${CO2_Scooter} + ' g und der für ein Tretty-Fahrrad '+${CO2_Bicycle}+' g.'" />
    <p
        th:text="'Auf der Fahrt mit einem Tretty-Fahrrad wird ' + ${CO2_saving_Car_Tretty} + ' Gramm CO2 im Vergleich zu einem Auto gespart.'" />
    <p
        th:text="'Auf der Fahrt mit einem Tretty-Fahrrad wird ' + ${CO2_saving_Scooter_Tretty} + ' Gramm CO2 im Vergleich zu einem E-Scooter gespart.'" />
    <br>
    <p
        th:text="'Die minimale Fahrtdistanz eines Tretty-Fahrrads beträgt ' + ${Distanz_min} + ' km und die maximale Distanz '+ ${Distanz_max}+' km.'" />
    <p
        th:text="'Die kürzeste Zeit bei der Fahrt mit einem Tretty-Fahrrad beträgt ' + ${Zeit_min} + ' Minuten und die längste Dauer beträgt '+ ${Zeit_max}+' Minuten.'" />
    <p
        th:text="'Die maximale Geschwindigkeit eines Tretty-Fahrrads waren ' + ${Geschwindigkeit_max} + ' km/h und die langsamste Geschwindigkeit beträgt '+ ${Geschwindigkeit_min}+' km/h.'" />
    <br>
    <br>
    <form action="senden.html" id="person">
        <label class="h2" form="person">Namenseingabe</label>
        <label for="vorname">Vorname</label> 
        <input type="text" name="vorname" id="vorname" maxlength="30">
     
        <label for="zuname">Zuname</label>  
        <input type="text" name="zuname" id="zuname" maxlength="40">
    
        <button type="reset">Eingaben zurücksetzen</button>
        <button type="submit">Eingaben absenden</button>
    </form>
  
   
    <br>
    
    <br>
    <img th:src="@{MuensterSkyline.png}" />
    <img style="float:right;"th:src="@{TrettiMaimai.png}" width = "120" height="133"3 />
    <br>
   
    <br>



</body>

</html>